.container{
    width: 100% !important;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 110%;
    background: linear-gradient(45deg, #ffd199, #e0b8fa, #924fc9, #f4c0a4);
    box-shadow: 2px 2px 5px #464545;
}
.Home{
    font-size: 20px;
    padding-left: 20px;
}
.side_nav{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-right: 30px;
}
.cards{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    gap: 50px;
}
.card{
    position: relative;
    margin: 30px;
    width: 20%;
    height: 200px;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px #464545;
}
.img_card{
    width: 100%;
    height: 200px;
}
.side{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 200px;
}
@media (max-width: 768px) {
    .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: 300px;
        width: 150%;
        gap: 50px;
    }
    .card{
        width: 30%;
        height: 200px;
        gap: 50px;
    }
    .nav{
        height: 50px;
        width: 250%;
    }
    .img_card{
        width: 100%;
        height: 200px;
    }
    .header{
        margin-left: 550px;
    }
}
